<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/index.css">
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
    <title>Paperclip - Index</title>
</head>

<body>
    <div id=main-div>
        <div id="nav-bar">
            <div id="logo-container">
                <img id="logo-image" :src=logo.image>
            </div>
            <div id="nav-bar-menu">
                <div class="menu-items" v-for="item in items">
                    <img class="menu-icons" :src="item.image">
                    <p class="menu-names">{{item.name}}</p>
                </div>
            </div>
        </div>

        <!-- Side Panel -->
        <div id="side-panel">
            <div id="search-bar">
                <input type="text" id="search-text">
                <button id="search-button">
                    <img id="search-icon" src="./assets/side-panel/search-icon.svg">
                </button>
            </div>
            <div id="group-menu">
                <ul>
                    <li class="group-items" v-for="item in items">
                        <img class="group-items-icon" :src="item.image">
                        <p class="group-items-text">{{item.text}}</p>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Main Panel -->
        <div id="main-panel">
            <h1 id="group-title">All Articles</h1>
            <div id="articles-group">
                <div class="single-article" v-for="article in articles">
                    <div class="article-top-container">
                        <div class="article-image-container">
                            <img class="article-image" :src=article.image>
                        </div>
                        <div class="article-text-container">
                            <p class="article-title">{{article.title}}</p>
                            <div class="article-details">
                                <p class="article-type">{{article.type}}</p>
                                <p class="article-author_date">Author: {{article.author}} / {{article.date}}</p>
                            </div>
                            <div class="article-position">{{article.position}}</div>
                            <p class="article-abstract">Abstract: {{article.abstract}}</p>
                        </div>
                    </div>
                    <div class="article-bottom-container">
                        <div class="article-keywords-container">
                            <div class="article-keyword" v-for="keyword in article.keywords">{{keyword}}</div>
                        </div>
                        <div class="article-icons-container">
                            <div class="article-icon-container">
                                <img class="article-icon-img" src="./assets/main-panel/article-icons/cite.svg">
                                <p class="article-icon-text">{{article.cite}}</p>
                            </div>
                            <div class="article-icon-container">
                                <img class="article-icon-img" src="./assets/main-panel/article-icons/comment.svg">
                                <p class="article-icon-text">{{article.comment}}</p>
                            </div>
                            <div class="article-icon-container">
                                <img class="article-icon-img" src="./assets/main-panel/article-icons/trend.svg">
                                <p class="article-icon-text">{{article.trend}}</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
    <!-- Navigation Bar -->



    <!-- Import index.js -->
    <script src="./index.js"></script>

    <!-- Import component -->

    <!-- Mount App -->
    <script>
        var mountedNavBar = navBar.mount('#nav-bar')
        var mountedGroupMenu = groupMenu.mount('#group-menu')
        var mountedArticlesGroup = articlesGroup.mount('#articles-group')
    </script>
</body>

</html>